html {
  background: red;
}

a {
  color: gainsboro;
}

a:hover {
  color: orange;
}

section {
  margin: 200px;
}

table {
  border: 3px solid;
  border-collapse: collapse;
  padding: 0.5rem;
  justify-content: center;
}

th,
td {
  font-size: 1rem;
  border: 2px solid;
  background-color: white;
}

caption {
  caption-side: bottom;
  padding: 18px;
}
